
<ion-content [fullscreen]="true">
  <ion-card class="main">

    <ion-card-header style="width: 100%;">
          <ion-card-title id="title-font">Registro de Dueño</ion-card-title>
    </ion-card-header>

    <ion-card-content style="margin: auto;">
      
      <ion-card-content >
        <ion-img src="assets/images/dueno.jpg"
          alt="logo-cliente" style="width:30%; margin:auto" >
        </ion-img>
  

      <ion-card-header style="width: 100%;">
        <ion-card-title id="category-font">Datos Personales</ion-card-title>
      </ion-card-header>
      <form [formGroup]="Regisform" novalidate> 
       
      <div class="container">
        <br>
        <ion-input class="custom" formControlName="Rut" placeholder="Rut"></ion-input>
    
        <br>
    
        <ion-input class="custom" formControlName="fullname" placeholder="Nombre"></ion-input>
    
        <br>
    
        <ion-input class="custom" formControlName="direccion" placeholder="Dirección"></ion-input>

        <br>
    
        <ion-input class="custom" formControlName="email" placeholder="Correo Electrónico"></ion-input>
    
        <br>
    
        <ion-input class="custom" type="password" formControlName="tarjeta" placeholder="Número de Tarjeta"></ion-input>
      </div>


      <br>
      <br>



      <ion-card-header style="width: 100%;">
        <ion-card-title id="category-font">Contraseña</ion-card-title>
      </ion-card-header>

      
      <div class="container" >
        <br>
        <ion-input class="custom" formControlName="password" type="password" placeholder="Ingresa Contraseña"></ion-input>
    
        <br>
    
        <ion-input class="custom" type="password" placeholder="Repite Contraseña"></ion-input>
   
      </div>


      <br>
      <br>
    </form> 
      <form [formGroup]="Regisform2" novalidate> 
      <ion-card-header style="width: 100%;">
        <ion-card-title id="category-font">Datos del Estacionamiento</ion-card-title>
      </ion-card-header>
      

      <div class="container" >
        <br>
        <ion-input class="custom"  formControlName="Nombre_esta" placeholder="Nombre Estacionamiento"></ion-input>
    
        <br>
    
        <ion-input class="custom" formControlName="direccion_es" placeholder="Dirección Estacionamiento"></ion-input>
   
        <br>
        
          <ion-card-title style="font-size: 17px; margin-left: 13px;">Dimensiones</ion-card-title>
          <hr>
       
        
          <ion-row>
            <ion-col><ion-input class="custom-dimension" formControlName="ancho" placeholder="Ancho (cm)"></ion-input></ion-col>
            <ion-col><ion-input class="custom-dimension" formControlName="largo" placeholder="Largo(cm)"></ion-input></ion-col>
            <ion-col><ion-input class="custom-dimension" formControlName="alto" placeholder="Alto(cm)"></ion-input></ion-col>
          </ion-row>
          <hr>
          <ion-input class="custom"  formControlName="tarifa" placeholder="Tarifa ($)"></ion-input>
          
      </div>
      <br>
   
      <br>
      <br>
      <br>
     
          
       <div class="container">
        <ion-row>
          <ion-button (click)="signUP()" (click)="regis()" (click)="Estacionamiento()" >Registrarme</ion-button> 
          <ion-button class="back" [routerLink]="['/registro']">Volver</ion-button>
        </ion-row>
       </div>   
    </form>                
      <br>
      <br>
      <br>
      <br>
      <br>
      <ion-footer style=" box-shadow: none;">
        <ion-img style="height: 40px;" src="assets/images/logo-transparent-crop.png"
            alt="Logo-Mi-Estacionamiento"></ion-img>
      </ion-footer>  

    </ion-card-content>

  </ion-card-content>



  </ion-card>


</ion-content>

