<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title style="height: 150px; background-color:#226699 ;">
        <ion-row>
          <ion-col>
            <ion-icon class="head-menu-icon" name="person-circle-outline"></ion-icon>
            <br>
            <ion-button class="head-menu-button">
              Cambiar Perfil
            </ion-button>
          </ion-col>
          <ion-col style="margin-top: 35px; text-align: right; margin-right: 10px; color: white;">
            <ion-label>
              {{email}}
            </ion-label>
            <br>
            <ion-label style="font-size: 16px; font-style: oblique;">
              Cliente
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <ion-content>
    <ion-list lines="none">

      <ion-item>
        <ion-row>
          <ion-col>
            <ion-icon name="analytics-outline"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-label [routerLink]="['/transacciones']" class="list-button">Mis Transacciones</ion-label>
          </ion-col>
        </ion-row>
      </ion-item>

      <ion-item>
        <ion-row>
          <ion-col>
            <ion-icon name="card-outline"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-label class="list-button">Agregar Tarjeta</ion-label>
          </ion-col>
        </ion-row>
      </ion-item>

      <ion-item>
        <ion-row>
          <ion-col>
            <ion-icon name="settings-outline"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-label class="list-button">Opciones</ion-label>
          </ion-col>
        </ion-row>
      </ion-item>

      <ion-item>
        <ion-row>
          <ion-col>
            <ion-icon name="exit-outline"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-label  class="list-button" (click)="SignOut()">Cerrar Sesión</ion-label >
          </ion-col>
        </ion-row>
      </ion-item>


    </ion-list>

  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title><ion-img class="main-logo" src="assets/images/logo-transparent-crop.png"
          alt="Logo-Mi-Estacionamiento"></ion-img></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="background-image">

    <div >
      <ion-button (click)="getMyLocation()"> Obtener Ubicación</ion-button>
    </div>
  </ion-content>
</div>