.menu-bar{
    font-family: calibri;
    font-size: 17px;
}

.background-image{
    --background: url('/assets/images/snazzy-image.png') 5% no-repeat ;

}

.main-logo{
    margin: auto;
    height: 40px;
}

.list-button{
    color: rgb(0, 0, 0);
    --background: transparent;
    font-family: Calibri;
    font-size: 15px;
    height: 50px;
    width: 100%;
    text-align: right;
    border-color: none;
    padding: 10 20;
    background: transparent;
    box-shadow: none;

}

.head-menu-button{
    color: black;
    --background: transparent;
    box-shadow: none;
    border-color: transparent;
    font-size: 10px;
    font-weight: 700;
    margin-left: 2px ; 
    border-radius: 30px;
   
}

.head-menu-icon{
    font-size: 80px; color: white; margin-left: 15px;
}