<!--Este es el menu inicio el boton más el logo principal-->
<ion-content>
  <ion-header>
    <ion-toolbar>
      <div class="ion-page" id="main-content">
        <ion-header>
          
            <ion-toolbar>
              <ion-row>
                <ion-menu-toggle>
                  <img style="height: 40px; margin-top: 5px; margin-left: 5px;" src='assets/images/boton-menu.png'>
                </ion-menu-toggle>
                <ion-title><ion-img class="main-logo" src="assets/images/logo-transparent-crop.png"
                  alt="Logo-Mi-Estacionamiento"></ion-img></ion-title>
              </ion-row>
              
            </ion-toolbar>
         
          
        </ion-header>
      </div>
    </ion-toolbar>
  </ion-header>
  
  



  <ion-menu contentId="main-content">
    <!-- Aqui va lo azul del menú donde ponemos el perfil y el nombre-->
    <ion-header>
  
      <ion-toolbar style="height: 150px;">
        <ion-title style="background-color:#226699 ;">
          <ion-row>
            <ion-col size="1">
              <div>
                <ion-icon class="head-menu-icon" name="person-circle-outline"></ion-icon>
              </div>
  
  
              <ion-button id="botonmenu">
                Cambiar Perfil
              </ion-button>
            </ion-col>
            <ion-col style="margin-top: 35px; text-align: right; margin-right: 10px; color: white;">
              <div>
                <ion-label style="font-size: 15px;">
                  {{email}}
                </ion-label>
                <br>
                <ion-label style="font-size: 16px; font-style: oblique;">
                  Cliente
                </ion-label>
              </div>
  
            </ion-col>
          </ion-row>
        </ion-title>
  
      </ion-toolbar>
    </ion-header>
    <!-- fin de lo azul del menú-->
  
    <!-- Aqui va la lista con los iconos del menu lateral azul-->
    <ion-content class="ion-padding">
  
      <ion-list lines="none">
  
        <ion-item>
          <ion-row>
            <ion-col>
              <ion-icon name="analytics-outline"></ion-icon>
            </ion-col>
            <ion-col>
              <ion-label [routerLink]="['/transacciones']" class="list-button">Mis Transacciones</ion-label>
            </ion-col>
          </ion-row>
        </ion-item>
  
        <ion-item>
          <ion-row>
            <ion-col>
              <ion-icon name="card-outline"></ion-icon>
            </ion-col>
            <ion-col>
              <ion-label class="list-button">Agregar Tarjeta</ion-label>
            </ion-col>
          </ion-row>
        </ion-item>
  
        <ion-item>
          <ion-row>
            <ion-col>
              <ion-icon name="settings-outline"></ion-icon>
            </ion-col>
            <ion-col>
              <ion-label class="list-button">Opciones</ion-label>
            </ion-col>
          </ion-row>
        </ion-item>
  
        <ion-item>
          <ion-row>
            <ion-col>
              <ion-icon name="exit-outline"></ion-icon>
            </ion-col>
            <ion-col>
              <ion-label class="list-button" (click)="SignOut()">Cerrar Sesión</ion-label>
            </ion-col>
          </ion-row>
        </ion-item>
  
  
      </ion-list>
  
  
    </ion-content>
    <!-- fin del menu de lista con los iconos-->
  
  </ion-menu>
  <!-- fin menu inicio-->
  
  
  <!--fin de todo el menu menú-->
  
  
  
  
  
    <capacitor-google-map #map></capacitor-google-map>
  

</ion-content>
